<slider-component>
  <div class="main-carousel">
    <div class="slide w-full">Slide 1</div>
    <div class="slide w-full">Slide 2</div>
    <div class="slide w-full">Slide 3</div>
  </div>
</slider-component>
