body,
html {
    color: var(--textColor);
    background-color: var(--backgroundColor);
}

body,
button,
input,
select,
textarea,
input::placeholder {
    font-family: var(--bodyFontFamily);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingFontFamily);
}

.en-btn-primary {
    border: 1px solid var(--primaryBackgroundColor);
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
}

.en-btn-secondary {
    border: 1px solid var(--secondaryBackgroundColor);
    background-color: var(--secondaryBackgroundColor);
    color: var(--secondaryTextColor);
}

.en-width {
    max-width: var(--pageWidth);
    margin: 0 auto;
}

.en-container {
    padding: 10px;
}

.en-section {
    margin-bottom: var(--sectionSpacing);
}

.en-btn {
    padding: 0.3rem 1rem;
}

.en-btn-outline {
    border: 1px solid;
}

.en-menu-drawer {
    background-color: var(--backgroundColor);
}

.en-submenu {
    background-color: var(--backgroundColor);
    color: var(--textColor);

}

.en-menu-item {
    display: inline-block;
    padding: 0.3rem 1rem;
    transition: all ease 300ms;
    cursor: pointer;
}

.en-menu-item:hover,
.en-menu-item-active {
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
}

.en-input {
    border-width: var(--inputBorderWidth);
    border-color: var(--inputBorderColor);
}

.en-input:focus {
    outline: none;
}

.en-search-small svg {
    height: 20px;
    width: 20px;
    color: var(--inputBorderColor);
    ;
}

.en-menu-item svg {
    height: 15px;
    width: 15px;
}

.en-menu-item:hover .en-submenu {
    display: block;
}

.en-line-1.open,
.en-line-3.open {

    transform-origin: left;

}

.en-line-1.open {
    margin: 0 4px;
    transform: rotate(45deg);
}

.en-line-2.open {
    opacity: 0;
}



.en-line-3.open {
    margin: 1px 4px;
    transform: rotate(-45deg);
}

.en-collapsible-content {
    height: 0;
    opacity: 0;
}

.en-collapsible-content.open {
    height: auto;
    opacity: 1;
    transition: opacity 1s cubic-bezier(.25, .46, .45, .94), height .35s cubic-bezier(.25, .46, .45, .94);
}


.ent-button {
    display: inline-block;
    padding: 0.7rem 3rem;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    transition: all 100ms ease;
}

.ent-button:hover {
    transform: scale(1.01);
    border-radius: 4px;
}


.ent-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ent-title-sm {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ent-placeholder-svg {
    background: #585858;
    fill: #777777;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.ent-input-field {
    display: inline-block;
    border: 1px solid;
    border-color: var(--colorBorder);
    border-radius: 0;
    max-width: 100%;
    padding: 8px 10px;
    flex: 1 1 auto;
    margin: 0;
    min-width: 0;
}

.ent-social-icon-wrapper {
    fill: currentColor;
}

.ent-divider-sm {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
}

.ent-title-lg {
    font-size: 3rem;
}

@media screen and (max-width: 590px) {
    .ent-title-lg {
        font-size: 2rem;
    }
}

.ent-card-image-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ent-card-image-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.ent-card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}