body,
html {
    color: rgba(var(--textColor));
    background-color: rgba(var(--backgroundColor));
}

body,
button,
input,
select,
textarea,
input::placeholder {
    font-family: var(--bodyFontFamily);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingFontFamily);
}

button:disabled{
        cursor: not-allowed;
        opacity: 0.5;
    }
    

.en-btn {
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: all ease 400ms;
}

.en-btn-full {
    padding: 0.7rem 1rem;
}

.en-btn-outline {
    border: 1px solid rgba(var(--textColor));
}

.en-btn-outline:hover {
    background-color: rgba(var(--textColor));
    color: rgba(var(--backgroundColor));
}


.en-btn-primary {
    background-color: rgba(var(--primaryBackgroundColor));
    color: rgba(var(--primaryTextColor));
}

.en-btn-primary:hover {
    background-color: rgba(var(--primaryBackgroundColor), 0.7);
}

.en-btn-secondary {
    border: 1px solid rgba(var(--secondaryBackgroundColor));
    background-color: rgba(var(--secondaryBackgroundColor));
    color: rgba(var(--secondaryTextColor));
}

.en-width {
    max-width: var(--pageWidth);
    margin: 0 auto;
}

.en-container {
    padding: 10px;
}

.en-section {
    margin-bottom: var(--sectionSpacing);
}

.en-collapsible {
    cursor: pointer;
}

.en-content-collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.en-collapsible-caret {
    transition: all ease 400ms;
}



.en-active .en-collapsible-caret {
    transform: rotate(180deg);
}

.en-content-collapsible::-webkit-scrollbar {
    width: 0.1em;
}

.en-content-collapsible::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.en-content-collapsible::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


.en-menu-drawer {
    background-color: rgba(var(--backgroundColor));
}

.en-submenu {
    background-color: rgba(var(--backgroundColor));
    color: rgba(var(--textColor));

}

.en-menu-item {
    padding: 0.3rem 1rem;
    transition: all ease 300ms;
    cursor: pointer;
}

.en-menu-item:hover,
.en-menu-item-active {
    background-color: rgba(var(--primaryBackgroundColor));
    color: rgba(var(--primaryTextColor));
}

.en-input {
    border-width: var(--inputBorderWidth);
    border-color: rgba(var(--inputBorderColor));
}

.en-input:focus {
    outline: none;
}

.en-search-small svg {
    height: 20px;
    width: 20px;
    color: rgba(var(--inputBorderColor));
    ;
}

.en-menu-item svg {
    height: 15px;
    width: 15px;
}

.en-menu-item:hover .en-submenu {
    display: block;
}

.en-line-1.open,
.en-line-3.open {

    transform-origin: left;

}

.en-line-1.open {
    margin: 1 4px;
    transform: rotate(45deg);
}

.en-line-2.open {
    opacity: 0;
}



.en-line-3.open {
    margin: 1px 4px;
    transform: rotate(-45deg);
}

.en-collapsible-content {
    height: 0;
    opacity: 0;
}

.en-collapsible-content.open {
    height: auto;
    opacity: 1;
    transition: opacity 1s cubic-bezier(.25, .46, .45, .94), height .35s cubic-bezier(.25, .46, .45, .94);
}


.ent-button {
    display: inline-block;
    padding: 0.7rem 3rem;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    transition: all 100ms ease;
}

.ent-button:hover {
    transform: scale(1.01);
    border-radius: 4px;
}


.ent-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ent-title-sm {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ent-placeholder-svg {
    background: #585858;
    fill: #777777;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.ent-input-field {
    display: inline-block;
    border: 1px solid;
    border-color: var(--colorBorder);
    border-radius: 0;
    max-width: 100%;
    padding: 8px 10px;
    flex: 1 1 auto;
    margin: 0;
    min-width: 0;
}

.ent-social-icon-wrapper {
    fill: currentColor;
}

.ent-divider-sm {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
}

.ent-title-lg {
    font-size: 3rem;
}

@media screen and (max-width: 590px) {
    .ent-title-lg {
        font-size: 2rem;
    }
}

.ent-card-image-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ent-card-image-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.ent-card-image {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.en-varient-selector-item:has(> .en-varient-selector-radio:checked) {
    border: 2px solid;
}

/* Flickity  */
.is-selected.is-nav-selected img {
    transition: all ease-in-out 300ms;
    border-bottom: 4px solid;
}

.flickity-prev-next-button:disabled {
    display: none;
}


/* Input Fields  */


.form-control {
	position: relative;
	margin: 20px 0;
}

.form-control input {
	border: 0;
	border-bottom: 2px solid ;
	padding: 15px 0;
	display: block;
	width: 100%;
	transition: 0.1s ease-in;
}

.form-control input:focus, 
.form-control input:valid {
	border-bottom-color: rgba(var(--textColor), 0.5);
	outline: none;
}

.form-control input:focus + label span ,
.form-control input:valid + label span{
	color: rgba(var(--textColor), 0.5);
	transform: translateY(-30px);
}

.form-control label {
	position: absolute;
	top: 15px;
	left: 0;
    color: rgba(var(--textColor), 0.5);;
}

.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/* Input Fields End  */



@media screen and (min-width: 750px) {
    .en-width {
        padding: 0 1rem;
    }

}


