body,
html {
    color: var(--textColor);
    background-color: var(--backgroundColor);
}

body,
button,
input,
select,
textarea {
    font-family: var(--bodyFontFamily);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingFontFamily);
}

.en-btn-primary {
    border: 1px solid var(--primaryBackgroundColor);
    background-color: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
}

.en-btn-secondary {
    border: 1px solid var(--secondaryBackgroundColor);
    background-color: var(--secondaryBackgroundColor);
    color: var(--secondaryTextColor);
}

.en-width {
    max-width: var(--pageWidth);
    margin: 0 auto;
}

.en-section {
    margin-bottom: var(--sectionSpacing);
}

.en-btn {
    padding: 0.3rem 1rem;
}

.en-btn-outline {
    border: 1px solid;
}

.en-menu-item {
    display: inline-block;
    padding: 0.3rem 1rem;
    transition: all ease 300ms;
}

.en-menu-item:hover,
.en-menu-item-active {
    background-color: var(--textColor);
    color: var(--backgroundColor);
}